/*
  Link Button
  ------------------------------------------------------------------------------
*/

@use '../../../Styles/variables' as *;

a:link,
a:visited,
a:hover,
a:active {
  &.cf-button {
    color: $cf-white;
  }
}
